<!-- Default form register -->
<form [formGroup]="userForm" (ngSubmit)="submit()" class="text-left border border-light p-5"
    enctype="multipart/form-data">

    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="name">Name</label>
            <input formControlName="name" type="text" class="form-control" id="name" placeholder="Enter Name" required>
        </div>
        <div class="form-group col-md-4">
            <label for="profileImage">Profile Photo</label>
            <input (change)="profileImage($event);" type="file" class="form-control" id="profileImage" required>
        </div>
        <div class="form-group col-md-4">
            <label for="dob">DOB</label>
            <input formControlName="dob" type="date" class="form-control" id="dob" required>
        </div>
    </div>

    <hr>

    <div class="form-row">
        <div class="form-group col-md-4">
            <label>Gender</label><br>
            <div class="form-check form-check-inline">
                <input formControlName="gender" class="form-check-input" type="radio" id="male" value="Male">
                <label class="form-check-label" for="male">Male</label>
            </div>
            <div class="form-check form-check-inline">
                <input formControlName="gender" class="form-check-input" type="radio" id="female" value="Female">
                <label class="form-check-label" for="female">Female</label>
            </div>
        </div>
        <div class="form-group col-md-4">
            <label>Qualification</label><br>
            <div *ngFor="let data of checkboxData; let i=index" style="float:left;">
                <label>
                    <input type="checkbox" [value]="data.value" (change)="onCheckboxChange($event)" />
                    {{data.name}}
                </label>&nbsp;&nbsp;
            </div>
        </div>
        <div class="form-group col-md-4">
            <label for="district">District</label>
            <select formControlName="district" id="district" class="form-control" required>
                <option value="">Choose</option>
                <option value="Thrissur">Thrissur</option>
                <option value="Ernakulam">Ernakulam</option>
                <option value="Palakkad">Palakkad</option>
            </select>
        </div>
    </div>

    <hr>

    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="email">Email</label>
            <input formControlName="email" type="email" class="form-control" id="email" placeholder="Enter Email"
                required>
        </div>
        <div class="form-group col-md-4">
            <label for="number">Number</label>
            <input formControlName="number" type="text" class="form-control" id="number" placeholder="Enter Number"
                required>
        </div>
        <div class="form-group col-md-4">
            <label for="password">Password</label>
            <input formControlName="password" type="password" class="form-control" id="password"
                placeholder="Enter Password" required>
        </div>
    </div>

    <hr>

    <div class="form-group">
        <label for="about">About</label>
        <textarea formControlName="about" class="form-control" id="about" placeholder="Enter About" required></textarea>
    </div>

    <hr>

    <div class="form-row">
        <div class="form-group col-md-6">
            <!-- <button type="submit" class="btn btn-primary">Sign in</button> -->
        </div>
        <div class="form-group col-md-6">
            <button type="submit" class="btn btn-outline-success">Register</button>
        </div>
    </div>

</form>
<!-- Default form register -->